body {
  font-family: Arial, sans-serif;
  text-align: center;
}
button {
  color: aliceblue;
  background-color: rgb(149, 52, 240);
  border: none;
  height: 40px;
  width: 170px;
  font-size: larger;
  cursor: pointer;
  margin: 20px auto;
  margin-left: 550px;
}
#photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  column-gap: 16px;
  justify-content: center;
  margin: 20px auto;
  max-width: 750px;
}
#photos img {
  width: 367px;
  height: 300px;
  object-fit: cover;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 30px;
  margin-bottom: -500px;
  margin-left: -500px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: rgb(149, 52, 240);
}
input:checked + .slider:before {
  transform: translateX(26px);
}
#wideButton {
  color: aliceblue;
  background-color: rgb(149, 52, 240);
  border: none;
  height: 40px;
  width: 100%; 
  max-width: 750px; 
  font-size: larger;
  cursor: pointer;
  margin: 20px auto;
} 